.logo_place_header {
  /* спозционировали абсолютно и выставили отступы слева и сверху */
  position: absolute;
  left: 64px;
  top: 30px;
  /* делаем так, чтобы логотип был выше других блоков, хотя тут не уверен*/
}
