.header__subtitle {
  /* выставили параметры блока */
  width: 388px;
  /* спозционированы абсолютно и выставили отступы слева и сверху */
  position: absolute;
  left: 64px;
  bottom: 30px;
  /* параметры содержимого текста */
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  /* делаем так, чтобы логотип был выше других блоков, и тут тоже не уверен*/
  margin: 0;
  z-index: 1;
}
