.header__title {
  /* ограничения для элемента */
  max-width: 730px;
  /* параметры содержимого текста */
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  /* отступ от левого края */
  margin: 0 0 0 64px;
  /* делаем так, чтобы логотип был выше других блоков, хотя тут тоже не уверен*/
  z-index: 1;
}
